.v-debug-console {
  background: #fff;
  opacity: .9;
  border: 1px solid #000;
  font-family: sans-serif; }

.v-debug-console-caption {
  background: #000;
  border-bottom: 1px solid grey;
  color: white;
  font-weight: bold; }

.v-debug-console-content {
  font-size: x-small;
  overflow: auto;
  white-space: pre; }

.v-debug-console-content input {
  font-size: xx-small; }

.v-app .invalidlayout,
.v-app .invalidlayout * {
  background: #f99 !important; }

@font-face {
  font-family: 'vdebugfont';
  src: url("fonts/font.eot");
  src: url("fonts/font.eot?#iefix") format("embedded-opentype"), url("fonts/font.woff") format("woff"), url("fonts/font.ttf") format("truetype"), url("fonts/font.svg#fontawesome") format("svg");
  font-weight: normal;
  font-style: normal; }
.v-debugwindow [data-icon]:before,
.v-debugwindow-menu [data-icon]:before {
  font-family: 'vdebugfont';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  vertical-align: text-bottom; }

.v-debugwindow {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
  color: #666666;
  font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
  font-size: 13px; }
  .v-debugwindow .v-debugwindow-handle {
    position: absolute;
    bottom: 0;
    background-color: #fff;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    z-index: 1000; }
  .v-debugwindow .v-debugwindow-handle-sw {
    width: 7px;
    height: 7px; }
  .v-debugwindow .v-debugwindow-handle-se {
    right: 0;
    width: 14px;
    height: 14px; }

.v-debugwindow:hover {
  -moz-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1; }

.v-debugwindow * {
  font-size: inherit !important; }

.v-debugwindow-size0, .v-debugwindow-menu .v-debugwindow-button-size0 {
  font-size: 10px; }

.v-debugwindow-size1, .v-debugwindow-menu .v-debugwindow-button-size1 {
  font-size: 13px; }

.v-debugwindow-size2, .v-debugwindow-menu .v-debugwindow-button-size2 {
  font-size: 16px; }

.v-debugwindow-head {
  text-align: right;
  background-color: transparent; }

.v-debugwindow-tabs {
  display: inline-block;
  background-color: white; }

.v-debugwindow-tab, .v-debugwindow-controls > * {
  width: 2em;
  border: none;
  margin: 0;
  line-height: 1.5em;
  background-color: white;
  color: #666666; }

.v-debugwindow-tab {
  position: relative;
  top: 1px;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #666666;
  border-radius: 2px 2px 0 0; }

.v-debugwindow-tab-selected {
  color: #666666;
  background-color: white;
  border-bottom: 1px solid #fff; }

.v-debugwindow-controls {
  position: relative;
  top: 1px;
  display: inline-block;
  background-color: white;
  border: 1px solid #666666;
  border-radius: 2px 2px 0 0; }

.v-debugwindow-section-head {
  text-align: left;
  background-color: white;
  border: 1px solid #666666;
  border-bottom: 1px solid #999999;
  box-shadow: 0px 0px 7px 0 rgba(55, 55, 55, 0.6);
  min-height: 1.5em;
  line-height: 1.5em;
  padding-left: 5px; }

.v-debugwindow-button {
  border: none;
  background-color: transparent;
  color: #666666; }

.v-debugwindow-button:hover {
  color: black;
  text-decoration: underline; }

.v-debugwindow-button-active {
  color: #666666;
  box-shadow: 1px 1px 3px 0 inset; }

.v-debugwindow-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0px 0px 7px 0 rgba(55, 55, 55, 0.6);
  background-color: white;
  border: 1px solid #666666;
  border-top: none; }

.v-debugwindow-menu {
  background-color: white;
  padding: 4px;
  border: 1px solid #999999;
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 0px 7px 0 rgba(55, 55, 55, 0.6); }

.v-debugwindow-menu-content {
  min-width: 100px; }

.v-debugwindow-menu-content .v-debugwindow-button {
  line-height: 22px; }

.v-debugwindow-menu-content > div > .v-debugwindow-button {
  width: 33%; }

.v-debugwindow-row {
  display: table-row; }

.v-debugwindow-row:nth-child(odd) {
  background-color: rgba(0, 61, 255, 0.11); }

.v-debugwindow-row > span {
  display: table-cell;
  padding: 4px; }

.v-debugwindow-row.SEVERE {
  color: #550000;
  background-color: #FFC5C5; }

.v-debugwindow-row.WARNING {
  background-color: #FFFF99; }

.v-debugwindow-row.FINE {
  color: #737373; }

.v-debugwindow-row.FINER {
  color: gray; }

.v-debugwindow-row.FINEST {
  color: #8c8c8c; }

.v-debugwindow-row > span.caption {
  color: #999;
  text-align: right;
  white-space: nowrap; }

.v-debugwindow-row > span.value {
  width: 100%; }

.v-debugwindow-selector > span.value {
  width: 100%; }

.v-debugwindow-selector :hover {
  background: rgba(255, 32, 32, 0.5); }

.v-debugwindow-log {
  font-family: monospace; }
  .v-debugwindow-log .v-debugwindow-reset {
    color: #fff;
    background-color: #4C92ED;
    padding: 4px; }
  .v-debugwindow-log .v-debugwindow-time {
    text-align: right;
    color: #999; }
  .v-debugwindow-log .v-debugwindow-message {
    white-space: nowrap;
    width: 100%; }
  .v-debugwindow-log .v-debugwindow-message:hover {
    white-space: normal;
    word-wrap: break-word; }
  .v-debugwindow-log .v-debugwindow-message em {
    background-color: #C4E6F8; }

.v-debugwindow-hierarchy .v-debugwindow-info {
  padding: 1em; }

.v-debugwindow-network .v-debugwindow-row {
  display: block !important; }
.v-debugwindow-network .v-debugwindow-row > span {
  display: inline; }

@-webkit-keyframes v-valo-anim-fade-in {
  0% {
    opacity: 0; } }
@-moz-keyframes v-valo-anim-fade-in {
  0% {
    opacity: 0; } }
@keyframes v-valo-anim-fade-in {
  0% {
    opacity: 0; } }
@-webkit-keyframes v-valo-anim-fade-out {
  100% {
    opacity: 0; } }
@-moz-keyframes v-valo-anim-fade-out {
  100% {
    opacity: 0; } }
@keyframes v-valo-anim-fade-out {
  100% {
    opacity: 0; } }
@-webkit-keyframes v-valo-anim-slide-down {
  0% {
    -webkit-transform: translateY(-100%); } }
@-moz-keyframes v-valo-anim-slide-down {
  0% {
    -moz-transform: translateY(-100%); } }
@keyframes v-valo-anim-slide-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }
@-webkit-keyframes v-valo-anim-slide-up {
  0% {
    -webkit-transform: translateY(100%); } }
@-moz-keyframes v-valo-anim-slide-up {
  0% {
    -moz-transform: translateY(100%); } }
@keyframes v-valo-anim-slide-up {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }
@-webkit-keyframes v-valo-anim-slide-left {
  0% {
    -webkit-transform: translateX(100%); } }
@-moz-keyframes v-valo-anim-slide-left {
  0% {
    -moz-transform: translateX(100%); } }
@keyframes v-valo-anim-slide-left {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }
@-webkit-keyframes v-valo-anim-slide-right {
  0% {
    -webkit-transform: translateX(-100%); } }
@-moz-keyframes v-valo-anim-slide-right {
  0% {
    -moz-transform: translateX(-100%); } }
@keyframes v-valo-anim-slide-right {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }
@font-face {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  src: url("../valo/fonts/font-awesome/fontawesome-webfont.eot");
  src: url("../valo/fonts/font-awesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../valo/fonts/font-awesome/fontawesome-webfont.woff") format("woff"), url("../valo/fonts/font-awesome/fontawesome-webfont.ttf") format("truetype"), url("../valo/fonts/font-awesome/fontawesome-webfont.svg#FontAwesome") format("svg"); }
.FontAwesome {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }

@font-face {
  font-family: 'Open Sans';
  src: url("../valo/fonts/open-sans/OpenSans-Light-webfont.eot");
  src: url("../valo/fonts/open-sans/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../valo/fonts/open-sans/OpenSans-Light-webfont.woff") format("woff"), url("../valo/fonts/open-sans/OpenSans-Light-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../valo/fonts/open-sans/OpenSans-Regular-webfont.eot");
  src: url("../valo/fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../valo/fonts/open-sans/OpenSans-Regular-webfont.woff") format("woff"), url("../valo/fonts/open-sans/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../valo/fonts/open-sans/OpenSans-Semibold-webfont.eot");
  src: url("../valo/fonts/open-sans/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../valo/fonts/open-sans/OpenSans-Semibold-webfont.woff") format("woff"), url("../valo/fonts/open-sans/OpenSans-Semibold-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@-webkit-keyframes v-rotate-360 {
  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes v-rotate-360 {
  to {
    -moz-transform: rotate(360deg); } }
@-o-keyframes v-rotate-360 {
  to {
    -o-transform: rotate(360deg); } }
@keyframes v-rotate-360 {
  to {
    transform: rotate(360deg); } }
@-webkit-keyframes v-progress-start {
  0% {
    width: 0%; }

  100% {
    width: 50%; } }
@-moz-keyframes v-progress-start {
  0% {
    width: 0%; }

  100% {
    width: 50%; } }
@keyframes v-progress-start {
  0% {
    width: 0%; }

  100% {
    width: 50%; } }
@-webkit-keyframes v-progress-delay {
  0% {
    width: 50%; }

  100% {
    width: 90%; } }
@-moz-keyframes v-progress-delay {
  0% {
    width: 50%; }

  100% {
    width: 90%; } }
@keyframes v-progress-delay {
  0% {
    width: 50%; }

  100% {
    width: 90%; } }
@-webkit-keyframes v-progress-wait {
  0% {
    width: 90%; }

  100% {
    width: 96%; } }
@-moz-keyframes v-progress-wait {
  0% {
    width: 90%; }

  100% {
    width: 96%; } }
@keyframes v-progress-wait {
  0% {
    width: 90%; }

  100% {
    width: 96%; } }
@-webkit-keyframes v-progress-wait-pulse {
  0% {
    opacity: 1; }

  50% {
    opacity: .1; }

  100% {
    opacity: 1; } }
@-moz-keyframes v-progress-wait-pulse {
  0% {
    opacity: 1; }

  50% {
    opacity: .1; }

  100% {
    opacity: 1; } }
@keyframes v-progress-wait-pulse {
  0% {
    opacity: 1; }

  50% {
    opacity: .1; }

  100% {
    opacity: 1; } }
.v-shadow,
.v-shadow-window {
  display: none; }
  .v-ie8 .v-shadow, .v-ie8
  .v-shadow-window {
    display: block; }
    .v-ie8 .v-shadow .center, .v-ie8
    .v-shadow-window .center {
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      background: #bfbfbf;
      filter: alpha(opacity=25); }
    .v-ie8 .v-shadow .top, .v-ie8
    .v-shadow-window .top {
      position: absolute;
      top: -2px;
      right: 4px;
      bottom: 2px;
      left: -4px;
      background: black;
      filter: progid:DXImageTransform.Microsoft.blur(pixelradius=4, makeShadow=true, ShadowOpacity=0.05); }
    .v-ie8 .v-shadow .top-left, .v-ie8
    .v-shadow-window .top-left {
      position: absolute;
      top: -2px;
      right: 5px;
      bottom: 2px;
      left: -5px;
      background: black;
      filter: progid:DXImageTransform.Microsoft.blur(pixelradius=5, makeShadow=true, ShadowOpacity=0.05); }

@-webkit-keyframes v-valo-overlay-open {
  0% {
    -webkit-transform: translatey(-3px);
    opacity: 0; } }
@-moz-keyframes v-valo-overlay-open {
  0% {
    -moz-transform: translatey(-3px);
    opacity: 0; } }
@keyframes v-valo-overlay-open {
  0% {
    -webkit-transform: translatey(-3px);
    transform: translatey(-3px);
    opacity: 0; } }
@-webkit-keyframes v-valo-combobox-show-status {
  0% {
    opacity: 0;
    -webkit-transform: translatey(-100%); } }
@-moz-keyframes v-valo-combobox-show-status {
  0% {
    opacity: 0;
    -moz-transform: translatey(-100%); } }
@keyframes v-valo-combobox-show-status {
  0% {
    opacity: 0;
    -webkit-transform: translatey(-100%);
    transform: translatey(-100%); } }
@-webkit-keyframes v-valo-modal-window-indication {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-moz-keyframes v-valo-modal-window-indication {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes v-valo-modal-window-indication {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
.v-widget {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  white-space: normal;
  vertical-align: middle;
  line-height: 1.55; }

.v-generated-body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0; }

.v-app {
  height: 100%;
  -webkit-tap-highlight-color: transparent; }

.v-ui {
  position: relative; }

.v-ui.v-ui-embedded {
  margin-top: -1px;
  border-top: 1px solid transparent; }

.v-ui:focus {
  outline: none; }

.v-overlay-container {
  width: 0;
  height: 0; }

input::-ms-clear {
  display: none; }

.v-drag-element {
  z-index: 60000;
  position: absolute !important;
  cursor: default; }

.v-clip {
  overflow: hidden; }

.v-scrollable {
  overflow: auto;
  line-height: 0; }

.v-ios.v-webkit .v-scrollable {
  -webkit-overflow-scrolling: touch; }

.v-ios5.v-webkit .v-scrollable {
  -webkit-overflow-scrolling: none; }

.v-assistive-device-only {
  position: absolute;
  top: -2000px;
  left: -2000px;
  width: 10px;
  overflow: hidden; }

.v-icon,
.v-errorindicator,
.v-required-field-indicator {
  display: inline-block;
  line-height: inherit; }

.v-caption,
.v-captiontext {
  display: inline-block;
  line-height: 1.55; }

div.v-layout.v-horizontal.v-widget {
  white-space: nowrap; }

.v-layout.v-vertical > .v-expand,
.v-layout.v-horizontal > .v-expand {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%; }

.v-slot,
.v-spacing {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  line-height: 0; }

.v-vertical > .v-slot:after {
  display: inline-block;
  clear: both;
  width: 0;
  height: 0;
  overflow: hidden; }

.v-vertical > .v-slot,
.v-vertical > .v-expand > .v-slot {
  display: block;
  clear: both; }

.v-horizontal > .v-slot,
.v-horizontal > .v-expand > .v-slot {
  height: 100%; }

.v-vertical > .v-spacing,
.v-vertical > .v-expand > .v-spacing {
  width: 0;
  display: block;
  clear: both; }

.v-horizontal > .v-spacing,
.v-horizontal > .v-expand > .v-spacing {
  height: 0; }

.v-align-middle:before,
.v-align-bottom:before,
.v-expand > .v-align-middle:before,
.v-expand > .v-align-bottom:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
  overflow: hidden; }

.v-align-middle,
.v-align-bottom {
  white-space: nowrap; }

.v-align-middle > .v-widget,
.v-align-bottom > .v-widget {
  display: inline-block; }

.v-align-middle > .v-widget {
  vertical-align: middle; }

.v-align-bottom > .v-widget {
  vertical-align: bottom; }

.v-align-center {
  text-align: center; }

.v-align-center > .v-widget {
  margin-left: auto;
  margin-right: auto; }

.v-align-right {
  text-align: right; }

.v-align-right > .v-widget {
  margin-left: auto; }

.v-has-caption,
.v-has-caption > .v-caption {
  display: inline-block; }

.v-caption-on-left,
.v-caption-on-right {
  white-space: nowrap; }

.v-caption-on-top > .v-caption,
.v-caption-on-bottom > .v-caption {
  display: block; }

.v-caption-on-left > .v-caption {
  padding-right: .5em; }

.v-caption-on-left > .v-widget,
.v-caption-on-right > .v-widget {
  display: inline-block; }

.v-has-caption.v-has-width > .v-widget {
  width: 100% !important; }

.v-has-caption.v-has-height > .v-widget {
  height: 100% !important; }

.v-gridlayout {
  position: relative;
  line-height: 0; }

.v-gridlayout-slot {
  position: absolute;
  line-height: 1.55; }

.v-gridlayout-spacing-on {
  overflow: hidden; }

.v-gridlayout-spacing,
.v-gridlayout-spacing-off {
  padding-left: 0;
  padding-top: 0; }

.v-gridlayout-spacing-off {
  overflow: hidden; }

.v-calendar-month-day-scrollable {
  overflow-y: scroll; }

.v-calendar-week-wrapper {
  position: relative;
  overflow: hidden; }

.v-calendar-current-time {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: red;
  z-index: 2; }

.v-calendar-event-resizetop,
.v-calendar-event-resizebottom {
  position: absolute;
  height: 5%;
  min-height: 3px;
  width: 100%;
  z-index: 1; }

.v-calendar-event-resizetop {
  cursor: row-resize;
  top: 0; }

.v-calendar-event-resizebottom {
  cursor: row-resize;
  bottom: 0; }

.v-calendar-header-month td:first-child {
  padding-left: 20px; }

.v-calendar-month-sizedheight .v-calendar-month-day {
  height: 100px; }

.v-calendar-month-sizedwidth .v-calendar-month-day {
  width: 100px; }

.v-calendar-header-month-Hsized .v-calendar-header-day {
  width: 101px; }

.v-calendar-header-month-Hsized td:first-child {
  padding-left: 21px; }

.v-calendar-header-day-Hsized {
  width: 200px; }

.v-calendar-week-numbers-Vsized .v-calendar-week-number {
  height: 100px;
  line-height: 100px; }

.v-calendar-week-wrapper-Vsized {
  height: 400px;
  overflow-x: hidden !important; }

.v-calendar-times-Vsized .v-calendar-time {
  height: 38px; }

.v-calendar-times-Hsized .v-calendar-time {
  width: 42px; }

.v-calendar-day-times-Vsized .v-datecellslot,
.v-calendar-day-times-Vsized .v-datecellslot-even {
  height: 18px; }

.v-calendar-day-times-Hsized,
.v-calendar-day-times-Hsized .v-datecellslot,
.v-calendar-day-times-Hsized .v-datecellslot-even {
  width: 200px; }

.v-colorpicker-popup.v-window {
  min-width: 220px !important; }

.v-colorpicker-gradient-clicklayer {
  opacity: 0 ;
  filter: alpha(opacity=0) ; }

.rgb-gradient .v-colorpicker-gradient-background {
  background: url(../valo/components/img/colorpicker/gradient2.png); }

.hsv-gradient .v-colorpicker-gradient-foreground {
  background: url(../valo/components/img/colorpicker/gradient.png); }

.v-colorpicker-gradient-lowerbox {
  border-right: 1px solid rgba(122, 122, 122, 0.5);
  border-top: 1px solid rgba(122, 122, 122, 0.5); }

.v-colorpicker-gradient-higherbox {
  border-left: 1px solid rgba(122, 122, 122, 0.5);
  border-bottom: 1px solid rgba(122, 122, 122, 0.5); }

.v-colorpicker-popup .v-slider.v-slider-red:before {
  background-color: red; }

.v-colorpicker-popup .v-slider.v-slider-green:before {
  background-color: green; }

.v-colorpicker-popup .v-slider.v-slider-blue:before {
  background-color: blue; }

.v-colorpicker-popup .v-slider.hue-slider:before {
  background: url(../valo/components/img/colorpicker/slider_hue_bg.png); }

.v-colorpicker-popup .v-textfield-dark {
  color: #fff; }

.v-colorpicker-popup .v-textfield-light {
  color: #000; }

.v-colorpicker-grid {
  height: 319px; }

.v-colorpicker-popup .colorselect td {
  line-height: 15px; }

.v-table-header table,
.v-table-footer table,
.v-table-table {
  border-spacing: 0;
  border-collapse: separate;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.55; }

.v-table-resizer,
.v-table-sort-indicator {
  float: right; }

.v-table-cell-wrapper {
  overflow: hidden; }

.v-table-caption-container-align-right {
  text-align: right; }

.v-table-header td,
.v-table-footer td,
.v-table-cell-content {
  padding: 0; }

.v-table-sort-indicator {
  width: 0; }

.v-tabsheet-hidetabs > .v-tabsheet-tabcontainer,
.v-tabsheet-spacertd,
.v-tabsheet-deco,
.v-disabled .v-tabsheet-scroller,
.v-tabsheet .v-disabled .v-tabsheet-caption-close {
  display: none; }

.v-tabsheet-content {
  position: relative; }

/* This contains all of your theme. */
