$v-app-loading-text: "Loading resources...";
//$v-app-background-color: hsl(160, 55%, 40%);
//$v-shadow-style: none;
//$v-bevel-style: none;
//$v-gradient-depth: 3%;
//$v-focus-color: #0bf;
//$v-font-size: 18px;
//$v-unit-size: 39px;
//$v-font-weight: 400;
//$v-border-radius: 18px;
//$v-selection-color: orange;
//$v-bevel-style: inset 0 -2px 0 shade;

//$v-font-family: "Open Sans", sans-serif;

@import "../valo/valo";

/* This contains all of your theme. */
@mixin rating {

  @include v-valo;
  @include v-valo-component-group;

  .presentation-form {

    .v-textarea, .v-textfield, .v-datefield {
      margin-bottom: 5px;
    }

    .v-textfield {
      width: 50%;
      display: inline;
    }

    input.v-textfield.topic {
      width: 100%;
      font-size: 1.2 * $v-font-size;
      height: 1.2 * $v-unit-size;
    }

    .v-textarea {
      width: 100%;
      height: 10em;
    }

    .v-button {
      float: right;
      margin-right: 5px;
      margin-top: 10px;
    }

  }

  .presentation-form[width-range~="0-400px"] {
    input.v-textfield.topic {
      font-size: $v-font-size;
      height: $v-unit-size;
    }

    .v-textfield, .v-datefield {
      width: 100%;
    }

  }


  .presentation-form[width-range~="600px-"] {
    input.v-textfield.topic {
      font-size: 1.5 * $v-font-size;
      height: 1.5 * $v-unit-size;
    }
  }

    .presentation-form.admin {

    .v-textfield {
      background-color: transparent;
      border-style: hidden;
    }
  }
}