@import "../reindeer/reindeer.scss";

/* This contains all of your theme. */
@mixin rating {

  /* Include all the styles from the reindeer theme */
  @include reindeer;

  .presentation-form {

    .v-textarea, .v-textfield, .v-datefield {
      margin-bottom: 5px;
    }

    .v-textfield {
      width: 50%;
      display: inline;
    }

    input.v-textfield.topic {
      width: 100%;
      font-size: 30px;
      height: 40px;
    }

    .v-textarea {
      width: 100%;
      height: 10em;
    }

    .v-button {
      float: right;
      margin-right: 5px;
      margin-top: 10px;
    }

  }

  .presentation-form[width-range~="0-400px"] {
    input.v-textfield.topic {
      font-size: 20px;
      height: 30px;
    }

    .v-textfield, .v-datefield {
      width: 100%;
    }

  }


  .presentation-form[width-range~="600px-"] {
    input.v-textfield.topic {
      font-size: 40px;
      height: 50px;
    }
  }

    .presentation-form.admin {

    .v-textfield {
      background-color: transparent;
      border-style: hidden;
    }
  }
}